<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h2>Nouvel article</h2>
      </div>

      <div class="panel-body">
        <%= render 'form' %>
      </div>

      <div class="panel-heading"></div>

    </div>
  </div>
</div>
