header
{
	background-color: #fff;
	text-align: center;
	.logo
	{
		font-family: "Pacifico";
	}

	.sociaux
	{
		margin-top: 17px;
		img
		{
			margin: 5px;
		}
	}

	.lien
	{
		font-family: "Arvo";
		font-size: 15px;
		margin-top: 24px;
		a
		{
			margin: 8px;
		}
	}
}
