header
{
	background-color: #fff;
	text-align: center;
  padding: 10px;
  text-decoration: inherit;
	margin-bottom: 20px;

	h1
	{
		margin: 5px;
	}
	.logo
	{
		font-family: "Pacifico";
    margin: 0;
    margin-bottom: 10px;
	}

  .lien
  {
    font-size: 15px;
    margin-top: 15px;
    a
    {
      margin: 0 8px;
    }
  }

	.social
	{
		margin-top: 7px;
		font-size: 1.8em;
		padding: 5px;
	}
}
