.img_index
{
		text-align: center;
	p{
		width: 200px;
		background-color: #fff;
		position: relative;
		top: 30px;
		/*m/argin-top: 50px; */
	}
	img
	{
		width: 90%;
	}
}

.body_index
{
	width: 80%;
	margin: auto;
}

