/*html
{
	background-color: #f2f2f2;
	font-family: "Pacifico", cursive;
}
*/


/********************header***********************/
header
{
	height: 100px;
	background-color: #FFF;
}

header .header
{
	width: 700px;
}

header a:link
{
	text-decoration: none;
	font-family: "Arvo", serif;
	font-size: 17px;
}

header a
{
	color: black;
}

header h1
{
}

.lien
{
	background-color: red;
}

header .icon
{

}


/********************home header***********************/

#home
{
}

#home_header
{
	width: 1080px;
}

#home_header .text
{
	background-color: #fff;
	height: 316px;
	width: 540px;
	text-align: center;

}

#home_header h3
{
	width: 300px;
	font-family: "Kaushan Script", cursive;
}

#home_header .photo
{

}